<div class="chat-window">
  <!-- <div class="conversations">
      </div> -->
  <div class="col-sm-12 col-md-10 offset-md-1 chat-box">
    <div class="messages" #messagesblock [scrollTop]="messagesblock.scrollHeight" >

      <div [ngClass]="blockClass(message.sender)" *ngFor="let message of messages">
        <div>
          <p>{{message.content}}</p>
          <span>{{message.time_created| date:'shortTime'}}</span>
        </div>
      </div>
    </div>
    <div class="text-box">
      <form (submit)="sendMessage()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Type a message..." [(ngModel)]="messageText" name="messageText">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>