<div class="chat-window">
    <div class="col-sm-12 col-md-10 offset-md-1" style="border:2px solid blueviolet">
        <div class="sender-block">
          <div class="sender">
              <p>Hi</p>
              <span class="float-right">11.20 a.m</span>
          </div>
        </div>
        <div class="receiver-block">
          <div class="receiver">
            <p>Hello</p>
            <span class="float-right">11.21 a.m</span>
          </div>
        </div>
        <div class="sender-block">
            <div class="sender">
                <p>Hi</p>
                <span class="float-right">11.20 a.m</span>
            </div>
          </div>
          <div class="receiver-block">
            <div class="receiver">
              <p>Hello</p>
              <span class="float-right">11.21 a.m</span>
            </div>
          </div>
          <div class="sender-block">
              <div class="sender">
                  <p>Hi</p>
                  <span class="float-right">11.20 a.m</span>
              </div>
            </div>
            <div class="receiver-block">
              <div class="receiver">
                <p>Hello</p>
                <span class="float-right">11.21 a.m</span>
              </div>
            </div>  
    </div>
</div>
