<!-- <input type="text" class="form-control" [ngModel]="formatter(txt)" (ngModelChange)="parser($event)"> -->
<div class="input-group mb-3">
  <input #accnum placeholder="Account Number" type="text" class="form-control" [ngModel]="anFormatter(anTxt)"
    (ngModelChange)="anParser($event)" (blur)="maskInput()" [ngClass]="{
  'is-valid': anValidInput, 
  'is-invalid':!anValidInput
}">
  <div class="input-group-append fa-container" (click)="unmaskInput()">
    <span class="input-group-text" id="addon">
      <i class="fas fa-eye"></i>
    </span>
  </div>
</div>
<!--
<input placeholder="SSN" type="text" class="form-control" (keypress)="restrictNumber($event)" [ngModel]="ssnFormatter(ssnTxt)" (ngModelChange)="ssnParser($event)" (blur)="parseSsnInput()" [ngClass]="{
  'is-valid': ssnValidInput, 
  'is-invalid':!ssnValidInput
}">

-->